This notebook selects and prunes the tags to be recommended.

* Criteria 1: 1) Stem words and remove stopwords; 2) Mark words containing same chars/differ by 1 char: https://www.geeksforgeeks.org/check-if-two-given-strings-are-at-edit-distance-one/

* Criteria 2: Tags, sum of scores (on all movies applied) >= 10;

* Criteria 3: (To be finalized) Movies with at least five tags

In [3]:
import pandas as pd
import numpy as np

In [8]:
# Connect to the database
import pymysql.cursors
import json

# Connect to the database
connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_mirror")

try:
    with connection.cursor() as cursor:
        # This query select rows from log_trailer_actions where the action is either TrailerModalLaunched or Recommendations Refreshed
        # These two actions indicate that a recommendation list is generated. 
        
        sql = """
        SELECT * FROM tag_movie
        """ 
        
        cursor.execute(sql)
        result1 = cursor.fetchall()
            
finally: 
    connection.close()

In [9]:
tag_movie_score = pd.DataFrame(list(result1), columns=['movieId','tag','numApps','numPositive','numNeutral','numNegative','numDownvotes','score'])
tag_movie_score.head()

,movieId,tag,numApps,numPositive,numNeutral,numNegative,numDownvotes,score
0,1,2009 reissue in Stereoscopic 3-D,1,1,0,0,2,-1.0
1,1,3D,3,0,3,0,3,0.0
2,1,55 movies every kid should see--Entertainment ...,1,0,1,0,2,-1.0
3,1,action,1,0,1,0,1,0.0
4,1,action figure,1,0,1,0,2,-1.0

### Criteria 1: Tags with total score >= 10;

#### Group tags, add up their scores / numApps ... across all movies

In [49]:
tag_movie_score_agg = tag_movie_score.groupby('tag').sum().reset_index().sort_values(by="score",ascending=False)

In [50]:
# Filter out tags with scores lower than 10
tag_movie_agg_score10 = tag_movie_score_agg[(tag_movie_score_agg.score>=10)]

,tag,movieId,numApps,numPositive,numNeutral,numNegative,numDownvotes,score
59522,sci-fi,29151206,8977,6792,2062,123,1283,7694.0
29377,atmospheric,21914566,6000,5491,482,27,763,5237.0
63796,surreal,29350064,5015,4236,658,121,554,4461.0
27465,action,61986188,5903,3675,1994,234,1513,4390.0
66428,twist ending,14480865,4598,4017,474,107,589,4009.0
67788,visually appealing,20031591,4088,3840,232,16,307,3781.0
38467,dystopia,24837278,4048,3180,763,105,367,3681.0
34883,comedy,102827174,5533,3642,1801,90,1898,3635.0
36525,dark comedy,30469071,3796,3256,492,48,420,3376.0
65111,thought-provoking,11032919,3585,3399,165,21,284,3301.0
56817,psychology,12608182,3529,3108,382,39,399,3130.0
41900,funny,56206457,4497,3749,699,49,1412,3085.0
68980,woman director,370184095,3058,5,3053,0,0,3058.0
63407,stylized,12154343,3649,3158,420,71,619,3030.0
30543,based on a book,62877656,5020,2055,2898,67,2144,2876.0
65257,time travel,23064973,3260,2293,864,103,409,2851.0
57094,quirky,17074448,3386,2841,478,67,562,2824.0
62212,space,19755883,3021,2024,957,40,316,2705.0
40255,fantasy,31672928,3547,2548,865,134,848,2699.0
34379,classic,8755851,3768,2039,1667,62,1191,2577.0
58723,romance,82372643,3542,1877,1352,313,982,2560.0
61790,social commentary,22525988,2913,2494,334,85,355,2558.0
67691,violence,78111203,3019,1071,1452,496,482,2537.0
63693,superhero,25825140,2781,1568,958,255,315,2466.0
36516,dark,20179178,2752,2077,540,135,326,2426.0
28030,aliens,18478869,2729,1723,871,135,446,2283.0
58280,revenge,87730430,2532,1105,1335,92,400,2132.0
63852,suspense,50045991,2340,1624,679,37,259,2081.0
37664,disturbing,14641900,2612,1897,485,230,544,2068.0
27685,adventure,30763488,2702,1944,734,24,663,2039.0
...,...,...,...,...,...,...,...,...
32545,bullfight,1093544,10,0,10,0,0,10.0
31420,bittersweet ending,405959,12,6,6,0,2,10.0
31377,birth of great scifi ideas,260,10,1,9,0,0,10.0
45264,human versus computer,69929,27,11,11,5,17,10.0
41611,freaks,400147,23,9,11,3,13,10.0
29990,awkward situations,286135,14,7,3,4,4,10.0
29426,attorney,893267,11,1,10,0,1,10.0
11801,Island,206149,11,7,4,0,1,10.0
58912,ruined lives,96829,10,7,3,0,0,10.0
31770,body-swap,862453,10,0,10,0,0,10.0
45528,identity swap,801096,10,0,10,0,0,10.0
44556,hipster,1173844,21,2,8,11,11,10.0
12098,James Gunn,280598,11,4,5,2,1,10.0
69540,young girl,1109540,11,1,10,0,1,10.0
54740,paul dano,139795,16,14,1,1,6,10.0
36376,d-day,980201,10,0,10,0,0,10.0
41618,freddy krueger,1713,12,11,0,1,2,10.0
1452,Alan Arkin,509184,27,19,7,1,17,10.0
42083,gang leader,1303572,10,0,10,0,0,10.0
48644,lingerie,1429721,10,1,9,0,0,10.0
29468,auschwitz,928733,10,0,10,0,0,10.0
31748,body exchange,275487,11,6,5,0,1,10.0
32006,bounty hunter(s),739922,24,10,14,0,14,10.0
55266,ping pong,1084877,14,0,14,0,4,10.0
42298,generation X,11350,21,5,16,0,11,10.0
11237,Hunter S. Thompson,211144,17,11,6,0,7,10.0
64217,tasteful,252068,13,10,3,0,3,10.0
30601,based on real events,536194,11,4,7,0,1,10.0
42304,generations,332173,22,10,12,0,12,10.0
45268,human vs nature,677918,10,0,10,0,0,10.0

In [7]:
# tag_movie_score_agg.to_csv("../tag_movie_score_agg.csv")

### Mark duplicate tags

#### Mark duplicate tags that users have applied

In [22]:
rows = []
        
for i in range (1,len(tag_movie_agg_score10)):
    count = 0
    row1 = tag_movie_agg_score10.iloc[i]
    s1 = row1['tag']
    for j in range (i+1,len(tag_movie_agg_score10)):
        row2 = tag_movie_agg_score10.iloc[j]
        s2 = row2['tag']
        #print(s1)
        #print(s2)
        if isEditDistanceOne(s1, s2):
            #print(count)
            count = count + 1
            rows.append(row2.tolist())
    if count > 0:
        rows.append(row1.tolist())

In [24]:
# dup_tags_table = pd.DataFrame(list(dup_tags), columns=['tag'])
# rows[1].dtype
dup_tags_table = pd.DataFrame(rows, columns=['tag','movieId','numApps','numPositive','numNeutral','numNegative','numDownvotes','score'])
# dup_tags_table.to_csv("dup_tags_info.csv")

In [9]:
# A function that checks if s1, s2 varies by only one character

def isEditDistanceOne(s1, s2):
 
    # Find lengths of given strings
    m = len(s1)
    n = len(s2)
 
    # If difference between lengths is more than 1,
    # then strings can't be at one distance
    if abs(m - n) > 1:
        return False
 
    count = 0    # Count of isEditDistanceOne
 
    i = 0
    j = 0
    while i < m and j < n:
        # If current characters dont match
        if s1[i] != s2[j]:
            if count == 1:
                return False
 
            # If length of one string is
            # more, then only possible edit
            # is to remove a character
            if m > n:
                i+=1
            elif m < n:
                j+=1
            else:    # If lengths of both strings is same
                i+=1
                j+=1
 
            # Increment count of edits
            count+=1
 
        else:    # if current characters match
            i+=1
            j+=1
 
    # if last character is extra in any string
    if i < m or j < n:
        count+=1
 
    return count == 1

### Eventually, we want to make tag-based recommendations, we prune tag-recommendation dataset.

### Criteria 2: Selecting movies that had been tagged with at least five distinct tags.

In [19]:
tag_movie_count = tag_movie_score.groupby("movieId").count().sort_values(by="tag",ascending=False)

In [53]:
tag_movie_count_5 = tag_movie_count.loc[tag_movie_count.tag >= 5].reset_index()
tag_movie_count_5 = tag_movie_count_5[["movieId","tag"]]

In [54]:
tag_movie_count_5.rename(columns={"tag":"tag_count"},inplace=True)

       movieId  tag_count
0          260        969
1          356        569
2          296        506
3          318        364
4         2571        317
5          593        286
6         1103        272
7         2959        263
8        72998        244
9       109487        237
10       79132        229
11        4993        229
12        7153        213
13         541        212
14         527        206
15      122882        192
16       44191        191
17       58559        189
18        4973        187
19        7361        184
20       48394        184
21        1196        184
22        5952        183
23         924        181
24       32587        181
25         858        177
26       34405        174
27         480        174
28       89745        172
29        2858        172
...        ...        ...
22565    94657          5
22566   150186          5
22567    94653          5
22568    96590          5
22569    94661          5
22570   148850          5
22571   162528          5
22572    94769          5
22573    94725          5
22574    96594          5
22575     2963          5
22576   150184          5
22577    96547          5
22578   105161          5
22579   161016          5
22580   148855          5
22581    94666          5
22582   162524          5
22583    96638          5
22584    26868          5
22585   106028          5
22586   105135          5
22587    96571          5
22588    96543          5
22589    96671          5
22590   105157          5
22591     2965          5
22592    26853          5
22593    26835          5
22594    94655          5

[22595 rows x 2 columns]

In [62]:
tag_movie_count_5_score_agg = pd.merge(tag_movie_score, tag_movie_count_5, on="movieId", how="left")

In [64]:
tag_movie_count_5_score_agg = tag_movie_count_5_score_agg[tag_movie_count_5_score_agg.tag_count>=5]

### Identify Duplicate Tags in Tag Genome

In [1]:
# Connect to the database
import pymysql.cursors
import json

# Connect to the database
connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_mirror")

try:
    with connection.cursor() as cursor:
        # This query select rows from log_trailer_actions where the action is either TrailerModalLaunched or Recommendations Refreshed
        # These two actions indicate that a recommendation list is generated. 
        
        sql = """
        SELECT * FROM tagnav_movie_tag
        """ 
        
        cursor.execute(sql)
        result3 = cursor.fetchall()
            
finally: 
    connection.close()

In [4]:
tagenome_movie = pd.DataFrame(list(result3), columns=['movie_id','tag','relevance'])
tagenome_movie.head()

   movie_id           tag  relevance
0         1           007      1.116
1         1  007 (series)      1.095
2         1  18th century      1.217
3         1         1920s      1.275
4         1         1930s      1.640

#### Filter out tags with low scores

In [13]:
tag_movie_score_agg

,tag,movieId,numApps,numPositive,numNeutral,numNegative,numDownvotes,score
59522,sci-fi,29151206,8977,6792,2062,123,1283,7694.0
29377,atmospheric,21914566,6000,5491,482,27,763,5237.0
63796,surreal,29350064,5015,4236,658,121,554,4461.0
27465,action,61986188,5903,3675,1994,234,1513,4390.0
66428,twist ending,14480865,4598,4017,474,107,589,4009.0
67788,visually appealing,20031591,4088,3840,232,16,307,3781.0
38467,dystopia,24837278,4048,3180,763,105,367,3681.0
34883,comedy,102827174,5533,3642,1801,90,1898,3635.0
36525,dark comedy,30469071,3796,3256,492,48,420,3376.0
65111,thought-provoking,11032919,3585,3399,165,21,284,3301.0
56817,psychology,12608182,3529,3108,382,39,399,3130.0
41900,funny,56206457,4497,3749,699,49,1412,3085.0
68980,woman director,370184095,3058,5,3053,0,0,3058.0
63407,stylized,12154343,3649,3158,420,71,619,3030.0
30543,based on a book,62877656,5020,2055,2898,67,2144,2876.0
65257,time travel,23064973,3260,2293,864,103,409,2851.0
57094,quirky,17074448,3386,2841,478,67,562,2824.0
62212,space,19755883,3021,2024,957,40,316,2705.0
40255,fantasy,31672928,3547,2548,865,134,848,2699.0
34379,classic,8755851,3768,2039,1667,62,1191,2577.0
58723,romance,82372643,3542,1877,1352,313,982,2560.0
61790,social commentary,22525988,2913,2494,334,85,355,2558.0
67691,violence,78111203,3019,1071,1452,496,482,2537.0
63693,superhero,25825140,2781,1568,958,255,315,2466.0
36516,dark,20179178,2752,2077,540,135,326,2426.0
28030,aliens,18478869,2729,1723,871,135,446,2283.0
58280,revenge,87730430,2532,1105,1335,92,400,2132.0
63852,suspense,50045991,2340,1624,679,37,259,2081.0
37664,disturbing,14641900,2612,1897,485,230,544,2068.0
27685,adventure,30763488,2702,1944,734,24,663,2039.0
...,...,...,...,...,...,...,...,...
52187,need to own,745651,101,2,98,1,697,-596.0
25113,VHS,2563445,246,6,238,2,854,-608.0
235,06/11,8971667,196,0,195,1,818,-622.0
66587,ummarti2006,1525739,61,0,61,0,690,-629.0
6042,DVD-R,7583782,311,2,307,2,945,-634.0
68003,want to see again,858780,165,51,111,3,842,-677.0
68193,watched 2006,1504850,78,0,78,0,791,-713.0
6038,DVD,2712995,188,0,188,0,905,-717.0
19843,R,20065097,816,64,665,87,1565,-749.0
48460,library,8020689,375,10,364,1,1127,-752.0
38417,dvd,5526390,362,0,362,0,1304,-942.0
9348,Futuristmovies.com,574101,149,0,148,1,1119,-970.0
6043,DVD-RAM,17824191,572,1,570,1,1577,-1005.0
52296,netflix,19101603,351,6,343,2,1383,-1032.0
54355,own,4302948,265,3,262,0,1307,-1042.0
5394,ClearPlay,11334658,304,9,294,1,1593,-1289.0
3561,Bibliothek,1601627,299,19,279,1,1619,-1320.0
24329,To See,9866903,357,15,336,6,1750,-1393.0
11514,In Netflix queue,5788136,297,0,296,1,1699,-1402.0
60020,seen at the cinema,3184657,250,3,246,1,1706,-1456.0
48368,less than 300 ratings,20816385,788,29,756,3,2282,-1494.0
8265,Eric's Dvds,1610267,163,0,163,0,1714,-1551.0
18510,Owned,2763879,300,8,292,0,1975,-1675.0
6044,DVD-Video,25104201,974,26,946,2,2685,-1711.0
4444,Can't remember,737544,308,2,294,12,2091,-1783.0
60024,seen more than once,3337305,696,172,520,4,2556,-1860.0
3503,Betamax,12881662,1105,4,1101,0,3032,-1927.0
51481,movie to see,13832274,488,48,433,7,2655,-2167.0
24771,Tumey's DVDs,5963634,649,0,647,2,4135,-3486.0
39198,erlend's DVDs,12196362,746,0,746,0,4744,-3998.0

In [51]:
# Group dataset by tags. in total, 13188 unique tags in tag_genome datasets
tagenome_agg = tagenome_movie.groupby(["tag"]).count().reset_index()

            tag  movie_id  relevance
0           007     13188      13188
1  007 (series)     13188      13188
2  18th century     13188      13188
3         1920s     13188      13188
4         1930s     13188      13188

In [21]:
tagenome_agg.rename(columns={"movie_id":"count"},inplace=True)
tagenome_agg.drop("relevance",axis=1,inplace=True)
tagenome_agg.head()

                     tag  count
0                    007  13188
1           007 (series)  13188
2           18th century  13188
3                  1920s  13188
4                  1930s  13188
5                  1950s  13188
6                  1960s  13188
7                  1970s  13188
8                  1980s  13188
9           19th century  13188
10                    3d  13188
11                  70mm  13188
12                   80s  13188
13                  9/11  13188
14               aardman  13188
15       aardman studios  13188
16              abortion  13188
17                absurd  13188
18                action  13188
19         action packed  13188
20            adaptation  13188
21     adapted from:book  13188
22    adapted from:comic  13188
23     adapted from:game  13188
24             addiction  13188
25           adolescence  13188
26              adoption  13188
27              adultery  13188
28             adventure  13188
29          affectionate  13188
...                  ...    ...
1098       waste of time  13188
1099   watch the credits  13188
1100             weapons  13188
1101             wedding  13188
1102                weed  13188
1103               weird  13188
1104            werewolf  13188
1105          werewolves  13188
1106             western  13188
1107           whimsical  13188
1108          wilderness  13188
1109                wine  13188
1110             wistful  13188
1111               witch  13188
1112             witches  13188
1113               witty  13188
1114             wizards  13188
1115               women  13188
1116       working class  13188
1117           workplace  13188
1118      world politics  13188
1119         world war i  13188
1120        world war ii  13188
1121       writer's life  13188
1122             writers  13188
1123             writing  13188
1124               wuxia  13188
1125                wwii  13188
1126              zombie  13188
1127             zombies  13188

[1128 rows x 2 columns]

#### Match tags in tag_genome table with their scores based on "tag_movie_agg_score10". Scores are the sum of tag_score on each movie

In [52]:
tagenome_score = pd.merge(tagenome_agg, tag_movie_agg_score10, on="tag", how="left")
tagenome_score.dropna(inplace=True)

In [55]:
tagenome_score.head()

,tag,movie_id,relevance,movieId,numApps,numPositive,numNeutral,numNegative,numDownvotes,score
0,007,13188,13188,433162.0,254.0,98.0,145.0,11.0,72.0,182.0
1,007 (series),13188,13188,287579.0,84.0,63.0,12.0,9.0,68.0,16.0
2,18th century,13188,13188,3692260.0,166.0,72.0,89.0,5.0,41.0,125.0
3,1920s,13188,13188,5721919.0,203.0,94.0,104.0,5.0,44.0,159.0
4,1930s,13188,13188,6334348.0,270.0,103.0,163.0,4.0,77.0,193.0

In [42]:
# tagenome_score.to_csv("tagenome_score.csv")

#### Identify duplicate tags

In [39]:
duplicates = []

for i in range (1,len(tagenome_score)):
    count = 0
    row1 = tagenome_score.iloc[i]
    s1 = row1['tag']
    for j in range (i+1,len(tagenome_score)):
        row2 = tagenome_score.iloc[j]
        s2 = row2['tag']
        if isEditDistanceOne(s1, s2):
            count = count + 1
            duplicates.append(row2.tolist())
        else:
            rows.append(row2)
    if count > 0:
        duplicates.append(row1.tolist())

In [56]:
dup_tag_genome_table = pd.DataFrame(duplicates, columns=['tag','count','movieId','numApps','numPositive','numNeutral','numNegative','numDownvotes','score'])

In [35]:
# Save dup_tag_genome_table

dup_tag_genome_table.drop_duplicates(["score","numApps"])
# dup_tag_genome_table.to_csv("dup_tag_genome_table.csv")

### Load Trimmed Tag Genome Table with Scores

We identify and process the tag genome table in Excel:
    - Load "tag_movie_agg_score10", name it "Tag Genome Table", and "dup_tag_genome_table"
    - For tags in Tag Genome Table, mark those not in dup_tag_genome_table
    - Go through dup_tag_genome_table. Remove those that vary by 1 char but are not duplicates. e.g. evolution & revolution
    - Combine tags' scores and num apps in dup_tag_genome_table
    - Add the combined tags back to Tag Genome Table

In [57]:
tag_genome_trimmed = pd.read_csv("Datasets/Tag_Genome_with_Score_Trimmed.csv")

In [58]:
tag_genome_trimmed.drop(columns=["Unnamed: 0"],inplace=True)
tag_genome_trimmed.head()

,tag,Combined_Tags,numApps,numPositive,numNeutral,numNegative,numDownvotes,score
0,geek,True,173,108,52,13,38,135
1,russia,True,221,43,171,7,19,202
2,australia,True,225,29,192,4,27,198
3,visual,True,248,203,42,3,64,184
4,stop motion,True,364,210,144,10,62,302

### A function that checks if s1, s2 varies by only one character

In [1]:
def isEditDistanceOne(s1, s2):
 
    # Find lengths of given strings
    m = len(s1)
    n = len(s2)
 
    # If difference between lengths is more than 1,
    # then strings can't be at one distance
    if abs(m - n) > 1:
        return False
 
    count = 0    # Count of isEditDistanceOne
 
    i = 0
    j = 0
    while i < m and j < n:
        # If current characters dont match
        if s1[i] != s2[j]:
            if count == 1:
                return False
 
            # If length of one string is
            # more, then only possible edit
            # is to remove a character
            if m > n:
                i+=1
            elif m < n:
                j+=1
            else:    # If lengths of both strings is same
                i+=1
                j+=1
 
            # Increment count of edits
            count+=1
 
        else:    # if current characters match
            i+=1
            j+=1
 
    # if last character is extra in any string
    if i < m or j < n:
        count+=1
 
    return count == 1

In [2]:
isEditDistanceOne("violent","violence")

False