This notebook checks if a tag is a candidate for the tag preference experiment

- We mainly use tags in the tag genome;
- We removed some duplicate tags;
- We store the information in tag_data table

In [3]:
import pandas as pd
import numpy as np

In [8]:
# This block counts how many times a tag has been applied; 
# Used for weighting user tags

import pymysql.cursors
import json

# Connect to the database
connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_dev")
try:
    with connection.cursor() as cursor:
            sql = "SELECT tag, tagPrefCandidates FROM tag_data"
            cursor.execute(sql)
            result = cursor.fetchall()
            
finally: 
    connection.close()

In [9]:
tag_data = pd.DataFrame(list(result), columns=['tag','tagPrefCandidates'])
tag_candidates = tag_data[tag_data['tagPrefCandidates']==True]['tag'].tolist()

,movieId,tag,numApps,numPositive,numNeutral,numNegative,numDownvotes,score
0,1,2009 reissue in Stereoscopic 3-D,1,1,0,0,2,-1.0
1,1,3D,3,0,3,0,3,0.0
2,1,55 movies every kid should see--Entertainment ...,1,0,1,0,2,-1.0
3,1,action,1,0,1,0,1,0.0
4,1,action figure,1,0,1,0,2,-1.0