In [1]:
import pandas as pd
import numpy as np

### Recommend tags based on user-movie-ratings and tag-movie-relevance

In [2]:
# Connect to the database
import pymysql.cursors
import json

connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_mirror")

try:
    with connection.cursor() as cursor:
        sql = """
        SELECT userId, tag, relevanceSum, weightedRelevanceSum, preference
        FROM tagnav_user_tag
        WHERE userId = 313322
        """ 
        
        cursor.execute(sql)
        result = cursor.fetchall()
            
finally: 
    connection.close()

In [3]:
user_tag_preference = pd.DataFrame(list(result), columns=['userId','tag','relevanceSum','weightedRelevanceSum','preference'])

#### TOP 10 Tag Recommendation based on Tag-Movie-Relevance algorithm

In [8]:
user_tag_preference.sort_values(by="preference",ascending=False)

,userId,tag,relevanceSum,weightedRelevanceSum,preference
58,313322,boarding school,43.166,208.614,4.692
82,313322,children,54.637,261.506,4.679
341,313322,parallel universe,37.268,179.107,4.660
221,313322,harry potter,44.023,210.417,4.657
167,313322,family,34.649,166.632,4.655
264,313322,kids,40.803,194.853,4.648
81,313322,childhood,74.592,351.200,4.641
60,313322,book,26.777,129.338,4.641
332,313322,oscar (best animated feature),39.661,188.384,4.628
92,313322,coming of age,73.809,345.528,4.619
447,313322,surreal,22.459,107.855,4.607
408,313322,secrets,30.945,146.532,4.599
30,313322,animation,57.503,268.628,4.598
29,313322,animated,53.335,249.331,4.597
118,313322,dark,26.666,126.630,4.594
158,313322,espionage,9.924,49.620,4.591
312,313322,narrated,32.144,151.643,4.591
412,313322,series,57.276,266.971,4.590
429,313322,spy,9.784,48.920,4.589
73,313322,car chase,9.719,48.595,4.588
104,313322,conspiracy,9.714,48.570,4.588
428,313322,spies,9.664,48.320,4.587
449,313322,surveillance,9.375,46.875,4.583
430,313322,spying,14.135,68.565,4.579
26,313322,amnesia,8.966,44.830,4.577
295,313322,memory,8.915,44.575,4.577
368,313322,psychological,8.809,44.045,4.575
107,313322,costume drama,8.713,43.565,4.574
84,313322,cia,8.687,43.435,4.573
432,313322,steampunk,8.684,43.420,4.573
...,...,...,...,...,...
137,313322,drama,90.604,376.548,4.198
296,313322,memory loss,8.977,33.763,4.194
219,313322,guns,8.631,32.246,4.191
16,313322,alien,9.466,35.608,4.187
347,313322,philosophical,21.451,85.803,4.187
18,313322,aliens,9.432,35.442,4.186
56,313322,bittersweet,59.260,243.825,4.183
187,313322,friendship,71.380,294.412,4.182
255,313322,intimate,9.449,35.414,4.182
128,313322,disability,23.344,93.376,4.179
220,313322,happy ending,25.277,101.153,4.172
42,313322,awesome soundtrack,23.786,94.821,4.170
101,313322,con artists,13.904,53.605,4.169
343,313322,passionate,13.122,50.346,4.169
215,313322,great soundtrack,16.477,63.822,4.155
105,313322,cool,17.377,67.425,4.152
414,313322,shallow,17.598,68.255,4.149
68,313322,bullying,4.251,12.753,4.145
243,313322,independent film,4.244,12.732,4.145
245,313322,indie,4.281,12.843,4.143
141,313322,dynamic cgi action,19.192,74.460,4.139
463,313322,teens,4.513,13.539,4.132
462,313322,teenagers,4.789,14.367,4.120
431,313322,stage magic,9.972,34.903,4.092
379,313322,relationships,39.804,156.681,4.087
77,313322,cgi,31.269,118.622,4.025
302,313322,modern fantasy,28.034,105.137,4.016
51,313322,betrayal,13.407,45.977,4.003
194,313322,gay character,13.998,46.653,3.953
166,313322,fairy tales,4.801,9.602,3.926

In [6]:
user_tag_preference['preference'].mean()

4.382549212598425

#### TOP 10 Tag Recommendation based on Tag-Movie-Relevance algorithm, filter out Tags not in the candidate set

In [4]:
tag_genome_trimmed = pd.read_csv("Datasets/Tag_Genome_with_Score_Trimmed.csv")
tag_candidates = tag_genome_trimmed['tag'].tolist()

In [10]:
user_tag_preference_small = user_tag_preference[user_tag_preference['tag'].isin(tag_candidates)].sort_values(by="preference",ascending=False)

In [11]:
user_tag_preference_small[user_tag_preference_small['preference']>user_tag_preference['preference'].mean()]

,userId,tag,relevanceSum,weightedRelevanceSum,preference
58,313322,boarding school,43.166,208.614,4.692
82,313322,children,54.637,261.506,4.679
341,313322,parallel universe,37.268,179.107,4.660
221,313322,harry potter,44.023,210.417,4.657
167,313322,family,34.649,166.632,4.655
264,313322,kids,40.803,194.853,4.648
81,313322,childhood,74.592,351.200,4.641
92,313322,coming of age,73.809,345.528,4.619
447,313322,surreal,22.459,107.855,4.607
408,313322,secrets,30.945,146.532,4.599
30,313322,animation,57.503,268.628,4.598
29,313322,animated,53.335,249.331,4.597
118,313322,dark,26.666,126.630,4.594
158,313322,espionage,9.924,49.620,4.591
312,313322,narrated,32.144,151.643,4.591
412,313322,series,57.276,266.971,4.590
429,313322,spy,9.784,48.920,4.589
73,313322,car chase,9.719,48.595,4.588
104,313322,conspiracy,9.714,48.570,4.588
428,313322,spies,9.664,48.320,4.587
449,313322,surveillance,9.375,46.875,4.583
430,313322,spying,14.135,68.565,4.579
26,313322,amnesia,8.966,44.830,4.577
295,313322,memory,8.915,44.575,4.577
368,313322,psychological,8.809,44.045,4.575
107,313322,costume drama,8.713,43.565,4.574
432,313322,steampunk,8.684,43.420,4.573
188,313322,fun,8.689,43.445,4.573
84,313322,cia,8.687,43.435,4.573
3,313322,19th century,8.520,42.600,4.571
...,...,...,...,...,...
217,313322,guilty pleasure,4.106,18.477,4.407
20,313322,alone in the world,4.139,18.626,4.407
380,313322,religion,4.202,18.909,4.407
268,313322,lawyer,4.222,18.999,4.407
206,313322,good story,4.248,19.116,4.407
231,313322,hit men,9.026,40.163,4.407
164,313322,factual,4.035,18.157,4.407
156,313322,environmental,4.087,18.392,4.407
244,313322,indians,4.022,18.099,4.407
304,313322,moral ambiguity,4.240,19.080,4.407
360,313322,police investigation,4.226,19.017,4.407
119,313322,dark fantasy,40.040,176.677,4.404
495,313322,war,25.712,113.161,4.395
308,313322,musical,23.047,101.442,4.395
28,313322,animals,22.595,99.411,4.394
459,313322,teen,26.781,117.702,4.392
157,313322,epic,50.250,220.811,4.392
283,313322,magic,95.497,419.531,4.392
493,313322,visually stunning,104.861,460.694,4.392
466,313322,thought-provoking,21.786,95.725,4.391
426,313322,special effects,49.843,218.848,4.390
162,313322,exciting,21.538,94.608,4.390
195,313322,genius,18.597,81.594,4.388
175,313322,fight scenes,34.429,151.061,4.388
47,313322,based on true story,40.627,178.261,4.388
25,313322,amazing photography,21.881,95.986,4.387
457,313322,tear jerker,16.642,72.980,4.387
289,313322,mathematics,18.668,81.886,4.387
281,313322,love,81.976,359.528,4.386
237,313322,humanity,17.234,75.450,4.383

### Sort by movie rated recency

In [12]:
# Connect to the database
import pymysql.cursors
import json

connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_mirror")

try:
    with connection.cursor() as cursor:
        sql = """
        SELECT *
        FROM user_rating_pairs
        WHERE userId = 313322
        """ 
        
        cursor.execute(sql)
        result = cursor.fetchall()
            
finally: 
    connection.close()

In [13]:
user_movie_rating_event = pd.DataFrame(list(result), columns=['userId','movieId','rating','tstamp','source'])

# Find out the tags applied on these movies

    userId  movieId  rating              tstamp source
0   313322      293     4.0 2018-04-19 13:18:18    ML4
1   313322      318     4.5 2017-10-29 19:14:07    ML4
2   313322      916     5.0 2018-06-12 15:09:21    ML4
3   313322      920     5.0 2017-11-09 20:46:45    ML4
4   313322     1035     5.0 2018-03-01 12:07:52    ML4
5   313322     1088     4.5 2018-03-01 12:07:17    ML4
6   313322     1246     5.0 2017-10-29 19:12:45    ML4
7   313322     1265     4.0 2018-03-01 12:07:09    ML4
8   313322     1573     3.5 2017-10-29 19:14:49    ML4
9   313322     1682     4.5 2018-06-12 15:03:15    ML4
10  313322     1704     5.0 2017-10-29 19:13:06    ML4
11  313322     1721     5.0 2018-03-01 12:07:03    ML4
12  313322     1961     4.0 2018-06-09 14:11:25    ML4
13  313322     2011     4.5 2018-03-01 12:11:21    ML4
14  313322     2012     4.0 2018-03-01 12:11:51    ML4
15  313322     2324     4.5 2018-06-12 15:04:05    ML4
16  313322     3000     4.5 2018-03-01 12:14:53    ML4
17  313322     3252     4.0 2017-10-29 19:13:00    ML4
18  313322     4896     5.0 2018-01-25 10:11:34    ML4
19  313322     4973     5.0 2017-11-09 20:46:12    ML4
20  313322     4993     4.0 2017-10-29 19:14:14    ML4
21  313322     4995     4.0 2018-04-13 17:07:15    ML4
22  313322     5618     5.0 2017-10-29 19:11:30    ML4
23  313322     5816     5.0 2018-02-19 17:24:15    ML4
24  313322     5952     4.0 2017-10-29 19:12:10    ML4
25  313322     5971     4.0 2017-10-29 19:11:22    ML4
26  313322     5989     4.5 2018-04-19 10:04:00    ML4
27  313322     6350     5.0 2017-10-29 19:11:49    ML4
28  313322     6711     4.0 2018-02-23 11:21:19    ML4
29  313322     7153     4.0 2017-10-29 19:12:07    ML4
..     ...      ...     ...                 ...    ...
52  313322    79132     5.0 2017-10-29 19:13:20    ML4
53  313322    80463     3.5 2018-04-19 13:17:00    ML4
54  313322    80586     5.0 2017-10-29 19:12:22    ML4
55  313322    81834     4.5 2018-02-19 17:24:03    ML4
56  313322    81845     4.0 2018-06-09 14:11:55    ML4
57  313322    88125     5.0 2018-02-19 17:23:57    ML4
58  313322    96821     3.0 2018-04-13 17:07:55    ML4
59  313322    97938     4.5 2017-11-09 18:42:36    ML4
60  313322    98491     4.5 2018-06-12 15:11:18    ML4
61  313322   100044     5.0 2018-03-21 18:24:36    ML4
62  313322   102407     3.5 2017-11-09 20:47:07    ML4
63  313322   102903     3.5 2018-04-06 19:40:36    ML4
64  313322   109487     4.0 2017-10-29 19:14:12    ML4
65  313322   111659     2.0 2018-03-01 12:07:41    ML4
66  313322   116797     4.5 2017-11-09 18:41:28    ML4
67  313322   117176     4.0 2018-06-09 14:11:24    ML4
68  313322   134853     5.0 2018-05-31 13:45:03    ML4
69  313322   135143     4.5 2018-04-13 17:07:12    ML4
70  313322   148626     4.5 2018-03-01 12:11:26    ML4
71  313322   150548     5.0 2017-11-09 18:41:40    ML4
72  313322   157296     4.0 2018-03-01 12:11:41    ML4
73  313322   159093     3.5 2018-04-19 13:16:57    ML4
74  313322   160438     5.0 2017-11-09 18:43:25    ML4
75  313322   163134     4.0 2018-06-13 11:42:18    ML4
76  313322   164179     4.0 2017-10-29 19:13:29    ML4
77  313322   164909     4.5 2018-03-01 12:07:29    ML4
78  313322   166461     5.0 2018-03-01 12:11:34    ML4
79  313322   168366     3.5 2018-03-01 12:08:06    ML4
80  313322   168492     4.5 2018-05-30 15:04:38    ML4
81  313322   177765     4.5 2018-02-19 17:15:49    ML4

[82 rows x 5 columns]