- Rating history of one user;
- Bucketed relevance score of movies
- Put(l)
- Put(r)
- Put(r,l)

In [6]:
import pandas as pd
import numpy as np

### User Rating History

In [7]:
# Connect to the database
import pymysql.cursors
import json

# Connect to the database
connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_mirror")

try:
    with connection.cursor() as cursor:
        # This query select rows from log_trailer_actions where the action is either TrailerModalLaunched or Recommendations Refreshed
        # These two actions indicate that a recommendation list is generated. 
        
        sql = """
        SELECT * FROM user_rating_pairs
        WHERE userId = 134088
        """ 
        
        cursor.execute(sql)
        result1 = cursor.fetchall()
            
finally: 
    connection.close()

In [47]:
user_rating_pairs = pd.DataFrame(list(result1), columns=['userId','movieId','rating','tstamp','source'])

#user_rating_pairs_small = user_rating_pairs[:11]
user_rating_pairs = user_rating_pairs[user_rating_pairs["rating"]>= 0]

In [48]:
user_rating_pairs.groupby("rating").count().reset_index()

   rating  userId  movieId  tstamp  source
0     1.0       6        6       6       1
1     1.5       5        5       5       0
2     2.0      19       19      19       3
3     2.5      21       21      21       2
4     3.0      62       62      62      24
5     3.5     114      114     114      36
6     4.0     173      173     173      58
7     4.5      71       71      71      23
8     5.0      30       30      30       4

In [49]:
user_movie_list = user_rating_pairs['movieId'].drop_duplicates().tolist()
#user_movie_tuple = tuple(user_movie_list.tolist())
user_movie_list

[2,
 10,
 16,
 21,
 29,
 32,
 47,
 50,
 95,
 101,
 110,
 208,
 215,
 223,
 238,
 246,
 293,
 296,
 318,
 356,
 357,
 377,
 380,
 413,
 432,
 442,
 457,
 468,
 480,
 497,
 509,
 517,
 527,
 541,
 553,
 586,
 589,
 592,
 593,
 594,
 648,
 733,
 745,
 750,
 762,
 786,
 858,
 904,
 908,
 924,
 1025,
 1033,
 1077,
 1079,
 1080,
 1089,
 1097,
 1101,
 1136,
 1148,
 1183,
 1196,
 1197,
 1198,
 1200,
 1210,
 1214,
 1220,
 1221,
 1223,
 1230,
 1231,
 1233,
 1234,
 1240,
 1245,
 1246,
 1247,
 1249,
 1258,
 1259,
 1270,
 1274,
 1278,
 1291,
 1304,
 1307,
 1320,
 1358,
 1373,
 1374,
 1376,
 1380,
 1393,
 1405,
 1449,
 1479,
 1485,
 1562,
 1573,
 1580,
 1584,
 1587,
 1610,
 1625,
 1641,
 1645,
 1676,
 1682,
 1690,
 1704,
 1711,
 1729,
 1732,
 1748,
 1921,
 1923,
 1953,
 2011,
 2012,
 2019,
 2023,
 2054,
 2064,
 2081,
 2105,
 2124,
 2133,
 2138,
 2139,
 2161,
 2167,
 2174,
 2278,
 2324,
 2373,
 2395,
 2396,
 2416,
 2502,
 2539,
 2571,
 2572,
 2599,
 2605,
 2616,
 2617,
 2628,
 2640,
 2641,
 2642,
 2683,
 2686,
 2692,
 2693,
 2706,
 2712,
 2716,
 2746,
 2761,
 2762,
 2763,
 2791,
 2792,
 2795,
 2858,
 2916,
 2918,
 2948,
 2959,
 2987,
 2991,
 2997,
 3000,
 3033,
 3034,
 3082,
 3114,
 3263,
 3264,
 3267,
 3300,
 3408,
 3481,
 3527,
 3536,
 3578,
 3624,
 3638,
 3681,
 3698,
 3702,
 3703,
 3740,
 3751,
 3793,
 3831,
 3841,
 3861,
 3863,
 3868,
 3897,
 3910,
 3911,
 3946,
 3948,
 3949,
 3967,
 3972,
 3977,
 3984,
 3986,
 3993,
 3994,
 3996,
 4014,
 4015,
 4017,
 4019,
 4022,
 4027,
 4034,
 4036,
 4069,
 4226,
 4246,
 4306,
 4308,
 4327,
 4344,
 4387,
 4446,
 4448,
 4489,
 4558,
 4571,
 4587,
 4639,
 4641,
 4643,
 4701,
 4720,
 4848,
 4857,
 4873,
 4878,
 4880,
 4896,
 4963,
 4973,
 4979,
 4980,
 4993,
 4995,
 5013,
 5015,
 5040,
 5064,
 5072,
 5135,
 5218,
 5225,
 5266,
 5299,
 5308,
 5319,
 5349,
 5377,
 5380,
 5388,
 5418,
 5445,
 5446,
 5464,
 5481,
 5502,
 5505,
 5507,
 5528,
 5541,
 5574,
 5618,
 5669,
 5685,
 5690,
 5810,
 5816,
 5902,
 5945,
 5952,
 5956,
 5971,
 5989,
 5991,
 5992,
 5994,
 5995,
 6016,
 6157,
 6188,
 6218,
 6283,
 6296,
 6299,
 6331,
 6333,
 6350,
 6365,
 6370,
 6377,
 6378,
 6385,
 6537,
 6539,
 6552,
 6664,
 6711,
 6713,
 6754,
 6773,
 6857,
 6863,
 6870,
 6874,
 6934,
 6942,
 6947,
 7004,
 7090,
 7099,
 7151,
 7153,
 7177,
 7225,
 7324,
 7361,
 7373,
 7438,
 7482,
 7669,
 8253,
 8360,
 8368,
 8370,
 8371,
 8464,
 8622,
 8665,
 8783,
 8784,
 8874,
 8914,
 8949,
 8970,
 8983,
 8984,
 26662,
 26776,
 26903,
 27266,
 27820,
 27821,
 27846,
 30749,
 30810,
 31658,
 33158,
 33166,
 33294,
 33493,
 33679,
 33794,
 34072,
 34405,
 34437,
 35836,
 36517,
 40583,
 40629,
 40815,
 41285,
 42738,
 44191,
 45447,
 45928,
 45950,
 46578,
 46850,
 46976,
 48394,
 48774,
 49272,
 50872,
 51255,
 51662,
 52885,
 53123,
 54286,
 55118,
 55269,
 55442,
 55820,
 56152,
 56156,
 56367,
 57504,
 57640,
 57669,
 58559,
 58803,
 59315,
 60069,
 60333,
 63082,
 65261,
 66097,
 66371,
 66934,
 68358,
 68954,
 70286,
 70862,
 72011,
 72226,
 72998,
 76093,
 77455,
 77658,
 79132,
 79824,
 80463,
 81591,
 81845,
 81847,
 82461,
 83132,
 86332,
 89090,
 90405,
 91658,
 93721,
 94864,
 94959,
 95167,
 96079,
 96610,
 96821,
 97304,
 97921,
 98809,
 98961,
 99986,
 100714,
 101864,
 102445,
 103228,
 103253,
 104841,
 104913,
 105197,
 106487,
 106489,
 106696,
 106782,
 106916,
 106920,
 109487,
 111781,
 112006,
 112911,
 113112,
 115713,
 116823,
 120637,
 120799,
 122882,
 122886,
 122892,
 122900,
 122904,
 122918,
 122922,
 122924,
 130634,
 134130,
 134170,
 134853,
 135133,
 135536,
 136020,
 138036,
 140711,
 140715,
 152059,
 157296,
 158238,
 162376,
 166528,
 170957,
 177241,
 182823]

### Tag-Movie relevance score

In [12]:
# Connect to the database
import pymysql.cursors
import json

# Connect to the database
connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_mirror")

try:
    with connection.cursor() as cursor:
        # This query select rows from log_trailer_actions where the action is either TrailerModalLaunched or Recommendations Refreshed
        # These two actions indicate that a recommendation list is generated. 
        
        sql = """
        SELECT * FROM tagnav_movie_tag
        """ 
        
        cursor.execute(sql)
        result2 = cursor.fetchall()
            
finally: 
    connection.close()

In [13]:
movie_tag_relevance = pd.DataFrame(list(result2), columns=['movieId','tag','relevance'])
movie_tag_relevance.head()

   movieId           tag  relevance
0        1           007      1.116
1        1  007 (series)      1.095
2        1  18th century      1.217
3        1         1920s      1.275
4        1         1930s      1.640

In [14]:
movie_tag_relevance['relevance_bucket'] = movie_tag_relevance['relevance']//0.5

### #Tags Applied to user-rated movies

In [31]:
# Connect to the database
import pymysql.cursors
import json

# Connect to the database
connection = pymysql.connect(host="127.0.0.1",
                             user="web",
                             password="atth1132",
                             db="ML3_mirror")

placeholder= '?' # For SQLite. See DBAPI paramstyle.
placeholders= ', '.join(placeholder for unused in sql)
#query= 'SELECT name FROM students WHERE id IN (%s)' % placeholders
#cursor.execute(query, user_movie_list)

try:
    with connection.cursor() as cursor:
        # This query select rows from log_trailer_actions where the action is either TrailerModalLaunched or Recommendations Refreshed
        # These two actions indicate that a recommendation list is generated. 
        
        sql = """
        SELECT movieId, tag, numApps, score FROM tag_movie
        
        """
        
        #cursor.execute(sql,user_movie_tuple)
        cursor.execute(sql)
        result3 = cursor.fetchall()
            
finally: 
    connection.close()

In [50]:
movie_tag_applied = pd.DataFrame(list(result3), columns=['movieId','tag','numApps','score'])
movie_user_tag_applied = movie_tag_applied[movie_tag_applied['movieId'].isin(user_movie_list)]

In [51]:
# TODO

#movie_tag_applied_relevance = pd.merge(movie_tag_applied,movie_tag_relevance_test2,on=["tag","movieId"],how="left").dropna()
movie_tag_applied_relevance = pd.merge(movie_user_tag_applied,movie_tag_relevance,on=["tag","movieId"],how="left").dropna()

In [52]:
movie_tag_applied_relevance

,movieId,tag,numApps,score,relevance,relevance_bucket
1,2,adapted from:book,3,-1.0,3.004,6.0
2,2,adventure,2,2.0,4.912,9.0
3,2,animals,11,6.0,4.541,9.0
4,2,bad cgi,9,8.0,3.454,6.0
6,2,based on a book,3,1.0,3.977,7.0
14,2,comedy,1,1.0,3.407,6.0
17,2,family,1,1.0,4.476,8.0
18,2,fantasy,21,14.0,4.827,9.0
28,2,jungle,2,0.0,4.767,9.0
30,2,kids,1,1.0,4.790,9.0
34,2,monkey,4,3.0,3.394,6.0
42,2,scary,6,4.0,3.792,7.0
45,2,time,2,-1.0,2.358,4.0
46,2,time travel,19,11.0,2.833,5.0
47,10,007,16,12.0,4.998,9.0
48,10,007 (series),2,-3.0,5.000,10.0
50,10,action,4,-2.0,4.891,9.0
51,10,adventure,2,-5.0,4.213,8.0
52,10,assassin,1,-1.0,4.548,9.0
56,10,bond,16,9.0,4.996,9.0
60,10,classic,1,0.0,2.071,4.0
65,10,cuba,1,1.0,2.476,4.0
66,10,dark,1,0.0,1.503,3.0
68,10,espionage,8,5.0,4.842,9.0
72,10,franchise,1,-2.0,4.913,9.0
73,10,funny,2,1.0,1.473,2.0
75,10,good dialogue,2,-4.0,1.707,3.0
79,10,james bond,24,21.0,4.183,8.0
87,10,murder,1,-4.0,2.131,4.0
99,10,secret service,2,-1.0,4.821,9.0
...,...,...,...,...,...,...
40164,166528,revolution,4,4.0,3.295,6.0
40166,166528,robot,1,1.0,3.058,6.0
40167,166528,sci-fi,26,26.0,4.278,8.0
40169,166528,space,30,30.0,4.856,9.0
40171,166528,space opera,1,1.0,4.966,9.0
40173,166528,space travel,17,17.0,3.291,6.0
40176,166528,special effects,18,18.0,4.355,8.0
40177,166528,spies,5,5.0,2.244,4.0
40189,166528,visually appealing,37,37.0,4.816,9.0
40191,166528,war,1,1.0,4.596,9.0
40192,166528,war movie,23,20.0,3.577,7.0
40200,170957,animated,1,1.0,3.289,6.0
40203,170957,cars,2,2.0,4.975,9.0
40204,170957,cgi,1,1.0,3.062,6.0
40207,170957,pixar,1,1.0,4.612,9.0
40208,170957,predictable,1,1.0,3.606,7.0
40209,170957,racing,2,2.0,4.978,9.0
40210,170957,sequel,3,3.0,4.719,9.0
40211,170957,surprise ending,2,1.0,1.573,3.0
40213,170957,travel,1,1.0,2.100,4.0
40219,182823,action,5,4.0,3.834,7.0
40220,182823,better than expected,1,1.0,2.337,4.0
40225,182823,fantasy,13,12.0,3.911,7.0
40226,182823,los angeles,7,7.0,2.702,5.0
40227,182823,magic,3,3.0,3.147,6.0
40231,182823,police,1,1.0,1.908,3.0
40232,182823,racism,1,1.0,1.659,3.0
40233,182823,social commentary,5,5.0,3.666,7.0
40235,182823,violent,1,1.0,2.586,5.0
40238,182823,witty,3,3.0,1.786,3.0

In [53]:
movie_tag_applied_count = movie_tag_applied_relevance.groupby(["tag"]).count().reset_index().drop(["movieId","score","relevance","relevance_bucket"],axis=1)
movie_tag_applied_count.head()

            tag  numApps
0           007        8
1  007 (series)        8
2  18th century        3
3         1920s        5
4         1930s        9

### Pu,t(l): Proportion of Tags applied to movies in bucket l

Pu,t(l): probability that tag t has the bucketed relevance l for all movies that user u rated

Denominator: # tag t applied to movies that the user rated

In [54]:
# a tag's relevance_bucket (to movies that the user rated)

movie_tag_applied_bucket_count = movie_tag_applied_relevance.groupby(["tag","relevance_bucket"]).count().reset_index().drop(columns=["movieId","score","relevance"])
movie_tag_applied_bucket_count.head()

            tag  relevance_bucket  numApps
0           007               9.0        8
1  007 (series)               9.0        2
2  007 (series)              10.0        6
3  18th century               3.0        1
4  18th century               6.0        1

In [55]:
# times a tag is applied (to movies that the user rated)
movie_tag_applied_count = movie_tag_applied_relevance.groupby(["tag"]).count().reset_index().drop(["movieId","score","relevance","relevance_bucket"],axis=1)
movie_tag_applied_count.head()

            tag  numApps
0           007        8
1  007 (series)        8
2  18th century        3
3         1920s        5
4         1930s        9

In [56]:
movie_tag_applied_count_agg = pd.merge(movie_tag_applied_bucket_count,movie_tag_applied_count,on="tag",how="left")

In [57]:
movie_tag_applied_count_agg["Pu,t(l)"] = movie_tag_applied_count_agg["numApps_x"]/movie_tag_applied_count_agg["numApps_y"]
movie_tag_applied_count_agg

                 tag  relevance_bucket  numApps_x  numApps_y   Pu,t(l)
0                007               9.0          8          8  1.000000
1       007 (series)               9.0          2          8  0.250000
2       007 (series)              10.0          6          8  0.750000
3       18th century               3.0          1          3  0.333333
4       18th century               6.0          1          3  0.333333
5       18th century               9.0          1          3  0.333333
6              1920s               2.0          1          5  0.200000
7              1920s               3.0          1          5  0.200000
8              1920s               5.0          3          5  0.600000
9              1930s               6.0          1          9  0.111111
10             1930s               7.0          1          9  0.111111
11             1930s               8.0          3          9  0.333333
12             1930s               9.0          4          9  0.444444
13             1950s               3.0          1         10  0.100000
14             1950s               4.0          1         10  0.100000
15             1950s               5.0          1         10  0.100000
16             1950s               6.0          3         10  0.300000
17             1950s               7.0          2         10  0.200000
18             1950s               8.0          2         10  0.200000
19             1960s               3.0          2         11  0.181818
20             1960s               4.0          1         11  0.090909
21             1960s               5.0          2         11  0.181818
22             1960s               6.0          2         11  0.181818
23             1960s               7.0          2         11  0.181818
24             1960s               8.0          2         11  0.181818
25             1970s               4.0          2         11  0.181818
26             1970s               5.0          3         11  0.272727
27             1970s               7.0          2         11  0.181818
28             1970s               8.0          4         11  0.363636
29             1980s               2.0          1         32  0.031250
...              ...               ...        ...        ...       ...
3483           women               8.0          1          5  0.200000
3484           women               9.0          1          5  0.200000
3485   working class               6.0          1          3  0.333333
3486   working class               8.0          1          3  0.333333
3487   working class               9.0          1          3  0.333333
3488       workplace               4.0          2          5  0.400000
3489       workplace               7.0          1          5  0.200000
3490       workplace               9.0          2          5  0.400000
3491  world politics               8.0          1          2  0.500000
3492  world politics               9.0          1          2  0.500000
3493     world war i               3.0          1          1  1.000000
3494    world war ii               6.0          1          1  1.000000
3495         writers               5.0          2         10  0.200000
3496         writers               6.0          1         10  0.100000
3497         writers               7.0          3         10  0.300000
3498         writers               8.0          1         10  0.100000
3499         writers               9.0          3         10  0.300000
3500         writing               2.0          1          8  0.125000
3501         writing               3.0          2          8  0.250000
3502         writing               4.0          1          8  0.125000
3503         writing               5.0          1          8  0.125000
3504         writing               7.0          1          8  0.125000
3505         writing               8.0          1          8  0.125000
3506         writing               9.0          1          8  0.125000
3507           wuxia               8.0          1          7  0.142857
3508           wuxia               9.0          6          7  0.857143
3509            wwii               3.0          1          1  1.000000
3510          zombie               4.0          1          2  0.500000
3511          zombie               9.0          1          2  0.500000
3512         zombies               9.0          1          1  1.000000

[3513 rows x 5 columns]

### Generate Candidate tag set

TODO

In [44]:
movie_tag_relevance_test2 = movie_tag_relevance_test[movie_tag_relevance_test['movieId'].isin(rated_movies)]
movie_tag_relevance_test2.head()

NameError: name 'rated_movies' is not defined

### Pu(r)
TODO:
    Pu(r) is the probability that user u gave a rating r for all movies s/he rated

In [58]:
user_rating_pairs.groupby("rating").count().reset_index()

   rating  userId  movieId  tstamp  source
0     1.0       6        6       6       1
1     1.5       5        5       5       0
2     2.0      19       19      19       3
3     2.5      21       21      21       2
4     3.0      62       62      62      24
5     3.5     114      114     114      36
6     4.0     173      173     173      58
7     4.5      71       71      71      23
8     5.0      30       30      30       4

In [59]:
probs_a_rating = {}
probs_a_rating[1]=6/501
probs_a_rating[1.5]=5/501
probs_a_rating[2]=19/501
probs_a_rating[2.5]=21/501
probs_a_rating[3]=62/501
probs_a_rating[3.5]=114/501
probs_a_rating[4]=173/501
probs_a_rating[4.5]=71/501
probs_a_rating[5]=30/501

### Pu,t(r, l)
TODO:
Pu,t(r, l) is the joint-probability of the two random variables, indicating the probability that user u gives a rating r for all movies that have tag t with bucketed relevance l

Denom: # movies the user rated with tag t

In [64]:
tag_relevance_rating_agg = pd.merge(movie_tag_applied_relevance, user_rating_pairs, on="movieId",how="left")
tag_relevance_rating_agg

,movieId,tag,numApps,score,relevance,relevance_bucket,userId,rating,tstamp,source
0,2,adapted from:book,3,-1.0,3.004,6.0,134088,2.0,2004-08-23 13:23:13,None
1,2,adventure,2,2.0,4.912,9.0,134088,2.0,2004-08-23 13:23:13,None
2,2,animals,11,6.0,4.541,9.0,134088,2.0,2004-08-23 13:23:13,None
3,2,bad cgi,9,8.0,3.454,6.0,134088,2.0,2004-08-23 13:23:13,None
4,2,based on a book,3,1.0,3.977,7.0,134088,2.0,2004-08-23 13:23:13,None
5,2,comedy,1,1.0,3.407,6.0,134088,2.0,2004-08-23 13:23:13,None
6,2,family,1,1.0,4.476,8.0,134088,2.0,2004-08-23 13:23:13,None
7,2,fantasy,21,14.0,4.827,9.0,134088,2.0,2004-08-23 13:23:13,None
8,2,jungle,2,0.0,4.767,9.0,134088,2.0,2004-08-23 13:23:13,None
9,2,kids,1,1.0,4.790,9.0,134088,2.0,2004-08-23 13:23:13,None
10,2,monkey,4,3.0,3.394,6.0,134088,2.0,2004-08-23 13:23:13,None
11,2,scary,6,4.0,3.792,7.0,134088,2.0,2004-08-23 13:23:13,None
12,2,time,2,-1.0,2.358,4.0,134088,2.0,2004-08-23 13:23:13,None
13,2,time travel,19,11.0,2.833,5.0,134088,2.0,2004-08-23 13:23:13,None
14,10,007,16,12.0,4.998,9.0,134088,3.5,2004-10-11 22:20:00,None
15,10,007 (series),2,-3.0,5.000,10.0,134088,3.5,2004-10-11 22:20:00,None
16,10,action,4,-2.0,4.891,9.0,134088,3.5,2004-10-11 22:20:00,None
17,10,adventure,2,-5.0,4.213,8.0,134088,3.5,2004-10-11 22:20:00,None
18,10,assassin,1,-1.0,4.548,9.0,134088,3.5,2004-10-11 22:20:00,None
19,10,bond,16,9.0,4.996,9.0,134088,3.5,2004-10-11 22:20:00,None
20,10,classic,1,0.0,2.071,4.0,134088,3.5,2004-10-11 22:20:00,None
21,10,cuba,1,1.0,2.476,4.0,134088,3.5,2004-10-11 22:20:00,None
22,10,dark,1,0.0,1.503,3.0,134088,3.5,2004-10-11 22:20:00,None
23,10,espionage,8,5.0,4.842,9.0,134088,3.5,2004-10-11 22:20:00,None
24,10,franchise,1,-2.0,4.913,9.0,134088,3.5,2004-10-11 22:20:00,None
25,10,funny,2,1.0,1.473,2.0,134088,3.5,2004-10-11 22:20:00,None
26,10,good dialogue,2,-4.0,1.707,3.0,134088,3.5,2004-10-11 22:20:00,None
27,10,james bond,24,21.0,4.183,8.0,134088,3.5,2004-10-11 22:20:00,None
28,10,murder,1,-4.0,2.131,4.0,134088,3.5,2004-10-11 22:20:00,None
29,10,secret service,2,-1.0,4.821,9.0,134088,3.5,2004-10-11 22:20:00,None
...,...,...,...,...,...,...,...,...,...,...
11854,166528,revolution,4,4.0,3.295,6.0,134088,4.5,2017-04-18 21:54:01,ML4
11855,166528,robot,1,1.0,3.058,6.0,134088,4.5,2017-04-18 21:54:01,ML4
11856,166528,sci-fi,26,26.0,4.278,8.0,134088,4.5,2017-04-18 21:54:01,ML4
11857,166528,space,30,30.0,4.856,9.0,134088,4.5,2017-04-18 21:54:01,ML4
11858,166528,space opera,1,1.0,4.966,9.0,134088,4.5,2017-04-18 21:54:01,ML4
11859,166528,space travel,17,17.0,3.291,6.0,134088,4.5,2017-04-18 21:54:01,ML4
11860,166528,special effects,18,18.0,4.355,8.0,134088,4.5,2017-04-18 21:54:01,ML4
11861,166528,spies,5,5.0,2.244,4.0,134088,4.5,2017-04-18 21:54:01,ML4
11862,166528,visually appealing,37,37.0,4.816,9.0,134088,4.5,2017-04-18 21:54:01,ML4
11863,166528,war,1,1.0,4.596,9.0,134088,4.5,2017-04-18 21:54:01,ML4
11864,166528,war movie,23,20.0,3.577,7.0,134088,4.5,2017-04-18 21:54:01,ML4
11865,170957,animated,1,1.0,3.289,6.0,134088,4.0,2018-04-12 10:54:22,ML4
11866,170957,cars,2,2.0,4.975,9.0,134088,4.0,2018-04-12 10:54:22,ML4
11867,170957,cgi,1,1.0,3.062,6.0,134088,4.0,2018-04-12 10:54:22,ML4
11868,170957,pixar,1,1.0,4.612,9.0,134088,4.0,2018-04-12 10:54:22,ML4
11869,170957,predictable,1,1.0,3.606,7.0,134088,4.0,2018-04-12 10:54:22,ML4
11870,170957,racing,2,2.0,4.978,9.0,134088,4.0,2018-04-12 10:54:22,ML4
11871,170957,sequel,3,3.0,4.719,9.0,134088,4.0,2018-04-12 10:54:22,ML4
11872,170957,surprise ending,2,1.0,1.573,3.0,134088,4.0,2018-04-12 10:54:22,ML4
11873,170957,travel,1,1.0,2.100,4.0,134088,4.0,2018-04-12 10:54:22,ML4
11874,182823,action,5,4.0,3.834,7.0,134088,3.0,2018-01-03 16:20:17,ML4
11875,182823,better than expected,1,1.0,2.337,4.0,134088,3.0,2018-01-03 16:20:17,ML4
11876,182823,fantasy,13,12.0,3.911,7.0,134088,3.0,2018-01-03 16:20:17,ML4
11877,182823,los angeles,7,7.0,2.702,5.0,134088,3.0,2018-01-03 16:20:17,ML4
11878,182823,magic,3,3.0,3.147,6.0,134088,3.0,2018-01-03 16:20:17,ML4
11879,182823,police,1,1.0,1.908,3.0,134088,3.0,2018-01-03 16:20:17,ML4
11880,182823,racism,1,1.0,1.659,3.0,134088,3.0,2018-01-03 16:20:17,ML4
11881,182823,social commentary,5,5.0,3.666,7.0,134088,3.0,2018-01-03 16:20:17,ML4
11882,182823,violent,1,1.0,2.586,5.0,134088,3.0,2018-01-03 16:20:17,ML4
11883,182823,witty,3,3.0,1.786,3.0,134088,3.0,2018-01-03 16:20:17,ML4

In [65]:
tag_relevance_rating_agg2 = tag_relevance_rating_agg.groupby(["tag","relevance_bucket","rating"]).count().reset_index()
tag_relevance_rating_agg2.drop(["movieId","score","relevance","userId","tstamp","source"],axis=1,inplace=True)
tag_relevance_rating_agg2.rename(columns={"numApps":"count_tag_relevance_rating"},inplace=True)

In [66]:
tag_relevance_agg = tag_relevance_rating_agg.groupby(["tag","relevance_bucket"]).count().reset_index()
tag_relevance_agg.drop(["movieId","score","relevance","userId","tstamp","source","rating"],axis=1,inplace=True)
tag_relevance_agg.rename(columns={"numApps":"count_tag_relevance"},inplace=True)

In [67]:
tag_relevance_rating_count_agg = pd.merge(tag_relevance_rating_agg2, tag_relevance_agg, on=["tag","relevance_bucket"],how="left")
#tag_relevance_rating_count_agg["Pu,t(r,l)"] = tag_relevance_rating_count_agg['numApps_x']/tag_relevance_rating_count_agg['numApps_y']
#tag_relevance_rating_count_agg.sort_values(by=["tag","rating"],inplace=True)
tag_relevance_rating_count_agg["Putrl"] = tag_relevance_rating_count_agg["count_tag_relevance_rating"]/tag_relevance_rating_count_agg["count_tag_relevance"]
tag_relevance_rating_count_agg

,tag,relevance_bucket,rating,count_tag_relevance_rating,count_tag_relevance,Putrl
0,007,9.0,3.0,1,8,0.125000
1,007,9.0,3.5,4,8,0.500000
2,007,9.0,4.0,3,8,0.375000
3,007 (series),9.0,3.5,1,2,0.500000
4,007 (series),9.0,4.0,1,2,0.500000
5,007 (series),10.0,3.0,1,6,0.166667
6,007 (series),10.0,3.5,3,6,0.500000
7,007 (series),10.0,4.0,2,6,0.333333
8,18th century,3.0,4.0,1,1,1.000000
9,18th century,6.0,5.0,1,1,1.000000
10,18th century,9.0,4.0,1,1,1.000000
11,1920s,2.0,4.5,1,1,1.000000
12,1920s,3.0,4.0,1,1,1.000000
13,1920s,5.0,4.0,3,3,1.000000
14,1930s,6.0,4.0,1,1,1.000000
15,1930s,7.0,4.0,1,1,1.000000
16,1930s,8.0,4.0,2,3,0.666667
17,1930s,8.0,4.5,1,3,0.333333
18,1930s,9.0,4.0,3,4,0.750000
19,1930s,9.0,5.0,1,4,0.250000
20,1950s,3.0,4.5,1,1,1.000000
21,1950s,4.0,4.0,1,1,1.000000
22,1950s,5.0,4.0,1,1,1.000000
23,1950s,6.0,2.0,1,3,0.333333
24,1950s,6.0,3.5,2,3,0.666667
25,1950s,7.0,2.5,1,2,0.500000
26,1950s,7.0,3.0,1,2,0.500000
27,1950s,8.0,2.0,1,2,0.500000
28,1950s,8.0,3.0,1,2,0.500000
29,1960s,3.0,4.0,1,2,0.500000
...,...,...,...,...,...,...
7014,workplace,7.0,4.0,1,1,1.000000
7015,workplace,9.0,3.5,2,2,1.000000
7016,world politics,8.0,4.0,1,1,1.000000
7017,world politics,9.0,3.0,1,1,1.000000
7018,world war i,3.0,4.0,1,1,1.000000
7019,world war ii,6.0,3.0,1,1,1.000000
7020,writers,5.0,4.0,1,2,0.500000
7021,writers,5.0,4.5,1,2,0.500000
7022,writers,6.0,5.0,1,1,1.000000
7023,writers,7.0,4.0,2,3,0.666667
7024,writers,7.0,4.5,1,3,0.333333
7025,writers,8.0,2.5,1,1,1.000000
7026,writers,9.0,3.5,1,3,0.333333
7027,writers,9.0,4.0,2,3,0.666667
7028,writing,2.0,4.0,1,1,1.000000
7029,writing,3.0,3.0,1,2,0.500000
7030,writing,3.0,4.0,1,2,0.500000
7031,writing,4.0,4.0,1,1,1.000000
7032,writing,5.0,4.0,1,1,1.000000
7033,writing,7.0,3.5,1,1,1.000000
7034,writing,8.0,4.0,1,1,1.000000
7035,writing,9.0,3.5,1,1,1.000000
7036,wuxia,8.0,4.0,1,1,1.000000
7037,wuxia,9.0,3.5,1,6,0.166667
7038,wuxia,9.0,4.0,2,6,0.333333
7039,wuxia,9.0,5.0,3,6,0.500000
7040,wwii,3.0,3.5,1,1,1.000000
7041,zombie,4.0,4.0,1,1,1.000000
7042,zombie,9.0,4.5,1,1,1.000000
7043,zombies,9.0,4.5,1,1,1.000000

### Calculate score and make predictions

In [68]:
import math 

test = tag_relevance_rating_count_agg
sums=[]

for index, row in test.iterrows():
    tag = row[0]
    #print(tag)
    r = row[2]
    #print(r)
    l = row[1]
    #print(l)
    Pur = probs_a_rating[r]
    Putl = movie_tag_applied_count_agg.loc[(movie_tag_applied_count_agg['tag']==tag) & (movie_tag_applied_count_agg['relevance_bucket']==l), 'Pu,t(l)'].iloc[0]
    Putrl = row[5]
    #print(Pur)
    #print(Putl)
    #print(Putrl)
    sum = Putrl * math.log(Putrl/(Putrl*Pur),2)
    sums.append(sum)
    #print(sum)

In [75]:
value = movie_tag_applied_count_agg.loc[(movie_tag_applied_count_agg['tag']=='action') & (movie_tag_applied_count_agg['relevance_bucket']==7), 'Pu,t(l)']

In [69]:
test["MI_score"] = sums

test.sort_values(by="MI_score",ascending=False).head(20)

,tag,relevance_bucket,rating,count_tag_relevance_rating,count_tag_relevance,Putrl,MI_score
3339,hostage,4.0,1.5,1,1,1.0,6.646739
6614,undercover cop,8.0,1.5,1,1,1.0,6.646739
4537,original plot,4.0,1.5,1,1,1.0,6.646739
3922,marriage,7.0,1.5,1,1,1.0,6.646739
6286,teacher,8.0,1.5,1,1,1.0,6.646739
4449,nuclear bomb,4.0,1.0,1,1,1.0,6.383704
2840,golf,4.0,1.0,1,1,1.0,6.383704
5967,steampunk,4.0,1.0,1,1,1.0,6.383704
3249,historical,7.0,1.0,1,1,1.0,6.383704
4905,predictable,8.0,1.0,1,1,1.0,6.383704
6930,werewolf,2.0,1.0,1,1,1.0,6.383704
3855,macabre,9.0,1.0,1,1,1.0,6.383704
354,alternate universe,8.0,1.0,1,1,1.0,6.383704
968,boxing,3.0,1.0,1,1,1.0,6.383704
6942,western,8.0,1.0,1,1,1.0,6.383704
6494,torture,4.0,1.0,1,1,1.0,6.383704
3111,halloween,5.0,1.0,1,1,1.0,6.383704
1565,corny,6.0,1.0,1,1,1.0,6.383704
3717,lawyers,5.0,1.0,1,1,1.0,6.383704
1873,desert,8.0,1.0,1,1,1.0,6.383704

### Normalize MI score

In [70]:
#HRut 
tag_relevance_rating_agg3 = tag_relevance_rating_agg.groupby(["tag","rating"]).count().reset_index()
tag_relevance_rating_agg3.drop(["movieId","score","relevance","relevance_bucket","userId","tstamp","source"],axis=1,inplace=True)
tag_relevance_rating_agg3.rename(columns={"numApps":"count_tag_rating"},inplace=True)

In [71]:
#HRut 
tag_relevance_rating_agg4 = tag_relevance_rating_agg.groupby(["tag"]).count().reset_index()
tag_relevance_rating_agg4.drop(["movieId","score","relevance","relevance_bucket","userId","tstamp","source","rating"],axis=1,inplace=True)
tag_relevance_rating_agg4.rename(columns={"numApps":"count_tag"},inplace=True)

In [72]:
tag_relevance_rating_HRut = pd.merge(tag_relevance_rating_agg3,tag_relevance_rating_agg4,on="tag",how="left")
tag_relevance_rating_HRut["Put"] = tag_relevance_rating_HRut["count_tag_rating"]/tag_relevance_rating_HRut["count_tag"]

In [73]:
tag_relevance_rating_HRut["HRut"] = -tag_relevance_rating_HRut["Put"]*np.log2(tag_relevance_rating_HRut["Put"])
tag_relevance_rating_HRut_sum = tag_relevance_rating_HRut.groupby("tag").sum().reset_index()

In [74]:
tag_relevance_rating_HRut_sum.sort_values(by="HRut",ascending=False)

                      tag  rating  count_tag_rating  count_tag  Put      HRut
11                   70mm    27.0                47        423  1.0  2.887942
517                  kids    26.0                15        120  1.0  2.872906
179             childhood    26.0                15        120  1.0  2.789898
723                racism    26.0                15        120  1.0  2.789898
889           time travel    25.5                31        248  1.0  2.764703
459                horror    25.5                19        152  1.0  2.760314
174                cheesy    25.5                32        256  1.0  2.713711
887                  time    23.0                11         77  1.0  2.663533
682              poignant    24.5                17        119  1.0  2.660130
897               tragedy    24.5                 9         63  1.0  2.641604
580                 money    23.0                12         84  1.0  2.625815
371                 funny    27.0               134       1206  1.0  2.611502
87             bad script    24.5                14         98  1.0  2.610577
202                comedy    27.0               119       1071  1.0  2.604696
685                police    26.0                30        240  1.0  2.597417
86            bad science    24.5                18        126  1.0  2.594118
372                future    27.0                43        387  1.0  2.592956
338               fantasy    27.0                70        630  1.0  2.590616
462               hostage    18.0                 6         36  1.0  2.584963
362             franchise    26.0                56        448  1.0  2.565635
26              adventure    27.0                85        765  1.0  2.558466
739            ridiculous    23.5                16        112  1.0  2.555037
275     directorial debut    25.5                29        232  1.0  2.552093
17          action packed    23.0                15        105  1.0  2.549255
437                 heist    24.5                20        140  1.0  2.546439
858               surreal    25.5                48        384  1.0  2.540006
335                family    26.0                60        480  1.0  2.539154
885     thought-provoking    24.5                39        273  1.0  2.532627
5                   1950s    19.5                10         60  1.0  2.521928
859            surrealism    22.0                10         60  1.0  2.521928
..                    ...     ...               ...        ...  ...       ...
856    suprisingly clever     4.0                 1          1  1.0  0.000000
197         coen brothers     4.0                 2          2  1.0  0.000000
187                circus     4.0                 2          2  1.0  0.000000
181                 china     5.0                 1          1  1.0  0.000000
176               chicago     4.0                 2          2  1.0  0.000000
170       character study     4.5                 1          1  1.0  0.000000
880         teleportation     4.5                 1          1  1.0  0.000000
167            censorship     2.5                 2          2  1.0  0.000000
274             dinosaurs     3.0                 1          1  1.0  0.000000
278              disaster     4.0                 2          2  1.0  0.000000
407        graphic design     3.5                 1          1  1.0  0.000000
825              splatter     4.0                 2          2  1.0  0.000000
777           segregation     3.5                 1          1  1.0  0.000000
389                  glbt     3.5                 1          1  1.0  0.000000
785            sex comedy     4.0                 1          1  1.0  0.000000
384               germany     4.0                 1          1  1.0  0.000000
789   sexualized violence     4.5                 1          1  1.0  0.000000
379                  geek     3.0                 1          1  1.0  0.000000
367           frightening     4.0                 2          2  1.0  0.000000
793                 shark     4.0                 1          1  1.0  0.000000
796                silent     4.5                 1          1  1.0  0.000000
337          family drama     4.0                 1          1  1.0  0.000000
812              solitude     4.5                 1          1  1.0  0.000000
813        southern theme     3.5                 1          1  1.0  0.000000
652  oscar (best actress)     3.0                 1          1  1.0  0.000000
819               spanish     4.0                 1          1  1.0  0.000000
317     entirely dialogue     4.0                 1          1  1.0  0.000000
822          spelling bee     4.0                 1          1  1.0  0.000000
300        dumb but funny     4.0                 2          2  1.0  0.000000
979               zombies     4.5                 1          1  1.0  0.000000

[980 rows x 6 columns]

#### Filter out tags that are not in the candidate set

In [75]:
tag_genome_trimmed = pd.read_csv("Datasets/Tag_Genome_with_Score_Trimmed.csv")
tag_candidates = tag_genome_trimmed['tag'].tolist()

In [76]:
# Rank tags by scores, then by user_num_app
tag_relevance_rating_HRut_sum[tag_relevance_rating_HRut_sum['tag'].isin(tag_candidates)].sort_values(by=["HRut"],ascending=False).head(10)

             tag  rating  count_tag_rating  count_tag  Put      HRut
517         kids    26.0                15        120  1.0  2.872906
179    childhood    26.0                15        120  1.0  2.789898
723       racism    26.0                15        120  1.0  2.789898
889  time travel    25.5                31        248  1.0  2.764703
459       horror    25.5                19        152  1.0  2.760314
174       cheesy    25.5                32        256  1.0  2.713711
887         time    23.0                11         77  1.0  2.663533
682     poignant    24.5                17        119  1.0  2.660130
897      tragedy    24.5                 9         63  1.0  2.641604
371        funny    27.0               134       1206  1.0  2.611502

### Make recommendations based on mutual information tag candidates